<ul class="collection">
  <li class="collection-item">
    {{#link-to "mailbox.inbox"}}Inbox{{/link-to}}
  </li>
  <li class="collection-item">
    {{#link-to "mailbox.new"}}Write new email{{/link-to}}
  </li>
</ul>